/* ==============================
   ERROR PAGE
   ============================== */

.error-object-wrapper .error-object[data-v-1a2fe5ba] {
    height: 100vh;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.error-page[data-v-1c0b12c8] {
    align-items: center;
    background-color: #05070D;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px
}

.error-page h1[data-v-1c0b12c8] {
    text-align: center
}

.error-page button[data-v-1c0b12c8] {
    background: transparent;
    border: none;
    bottom: 14vh;
    cursor: pointer;
    display: block;
    font-family: NeueMachina;
    font-size: 16px;
    margin: 60px auto 0;
    position: absolute;
    text-transform: uppercase;
    width: 200px;
    z-index: 2
}

.error-page button span[data-v-1c0b12c8] {
    display: inline-block;
    text-decoration-line: underline;
    text-decoration-style: dotted
}

/* ==============================
   AWARDS-ONLY VIEW (hides UI chrome)
   ============================== */

.awards-wcf .case-form-wrapper,
.awards-wcf .home-footer,
.awards-wcf .next-project,
.awards-wcf header {
    display: none !important
}
