<div data-v-7abacc29="" class="home-mobile-cases">
                                <div data-v-7abacc29="" class="wrapper">
                                    <div data-v-7abacc29="" class="case">
                                        <div data-v-7abacc29="" class="image-block">
                                            <p data-v-7abacc29="" class="title-0 title">immersive</p><!----><img
                                                data-v-7abacc29="" class="glass-t glass-t-0" src="/cases/glassT.png"
                                                alt="image">
                                        </div>
                                        <p data-v-7abacc29="" class="name">Noomo Labs</p>
                                        <p data-v-7abacc29="" class="desc">The Noomo Labs website is an interactive 3D
                                            experience featuring a customizable jellyfish, showcasing Noomo Agency's
                                            innovative experiments in immersive storytelling and cutting-edge web
                                            technologies.</p><a data-v-7abacc29="" href="/work/noomo-labs-the-jellyfish"
                                            class="view-project-link"><span class="">View project</span><img alt="arrow"
                                                class="arrow" src="/icons/smallArrow.svg">
                                            <div class="hover-mask"><span class=""> View project </span><img alt="arrow"
                                                    class="arrow" src="/icons/smallArrowBlack.svg"></div>
                                        </a>
                                    </div>
                                    <div data-v-7abacc29="" class="case">
                                        <div data-v-7abacc29="" class="image-block">
                                            <p data-v-7abacc29="" class="title-1 title">Interactive</p><!----><img
                                                data-v-7abacc29="" class="glass-t glass-t-1" src="/cases/glassT.png"
                                                alt="image">
                                        </div>
                                        <p data-v-7abacc29="" class="name">Coinbase and Golden State Warriors</p>
                                        <p data-v-7abacc29="" class="desc">An immersive microsite for the Golden State
                                            Warriors and Coinbase brought game-day excitement to life, allowing Bay Area
                                            fans to mint exclusive NFTs while celebrating the team’s legacy through a
                                            mobile-first, golden-themed digital experience.</p><a data-v-7abacc29=""
                                            href="/work/microsite-golden-state-warriors-and-coinbase-collectible"
                                            class="view-project-link"><span class="">View project</span><img alt="arrow"
                                                class="arrow" src="/icons/smallArrow.svg">
                                            <div class="hover-mask"><span class=""> View project </span><img alt="arrow"
                                                    class="arrow" src="/icons/smallArrowBlack.svg"></div>
                                        </a>
                                    </div>
                                    <div data-v-7abacc29="" class="case">
                                        <div data-v-7abacc29="" class="image-block">
                                            <p data-v-7abacc29="" class="title-2 title">enterprise</p><!----><img
                                                data-v-7abacc29="" class="glass-t glass-t-2" src="/cases/glassT.png"
                                                alt="image">
                                        </div>
                                        <p data-v-7abacc29="" class="name">Salesforce 360 Platform </p>
                                        <p data-v-7abacc29="" class="desc">Interactive 3D platform experience that turns
                                            Salesforce’s complex AI ecosystem into a clear story for CIOs, developers,
                                            and architects — using glassy 3D tiles and modular UX to show how every
                                            product connects as one unified platform.</p><a data-v-7abacc29=""
                                            href="/work/enterprise-3d-platform-website-salesforce/"
                                            class="view-project-link"><span class="">View project</span><img alt="arrow"
                                                class="arrow" src="/icons/smallArrow.svg">
                                            <div class="hover-mask"><span class=""> View project </span><img alt="arrow"
                                                    class="arrow" src="/icons/smallArrowBlack.svg"></div>
                                        </a>
                                    </div>
                                    <div data-v-7abacc29="" class="case">
                                        <div data-v-7abacc29="" class="image-block">
                                            <p data-v-7abacc29="" class="title-3 title">bespoke</p><!----><img
                                                data-v-7abacc29="" class="glass-t glass-t-3" src="/cases/glassT.png"
                                                alt="image">
                                        </div>
                                        <p data-v-7abacc29="" class="name">Vision by Dandy</p>
                                        <p data-v-7abacc29="" class="desc">Interactive product storytelling experience
                                            that turns Vision by Dandy’s intraoral scanner into a clear, cinematic story
                                            for modern dental practices — using high-end CG, UI, and scroll-based
                                            narrative to show how every detail supports a fully digital workflow.</p><a
                                            data-v-7abacc29="" href="/work/dandy-vision-storytelling-website"
                                            class="view-project-link"><span class="">View project</span><img alt="arrow"
                                                class="arrow" src="/icons/smallArrow.svg">
                                            <div class="hover-mask"><span class=""> View project </span><img alt="arrow"
                                                    class="arrow" src="/icons/smallArrowBlack.svg"></div>
                                        </a>
                                    </div>
                                </div>
                            </div><!----><!----><!----><!----><!----><!---->
                            