<div class="home-contact-form">
                                <div class="wrapper">
                                    <div class="top">
                                        <h3 class="font-machina-60">BUT WE'RE HERE NOT TO TALK ABOUT OURSELVES - WE'RE
                                            HERE TO TALK ABOUT YOU, YOUR COMPANY, YOUR PRODUCT, AND YOUR GOALS.</h3>
                                    </div>
                                    <div class="bottom">
                                        <div class="info-text">
                                            <p class="font-14-dark">With us it happens.<br> We would love to hear from
                                                you.</p>
                                        </div>
                                        <form novalidate="" class="form-inputs">
                                            <div class="input-wrapper done-trigger"><input id="form-name" type="text"
                                                    placeholder="Your name" name="name"><!----></div>
                                            <div class="input-wrapper done-trigger"><input type="email"
                                                    placeholder="Your email" name="email"><!----></div>
                                            <div class="input-wrapper done-trigger"><input type="text"
                                                    placeholder="Your project is about" name="message"><!----></div>
                                            <p class="font-neue-roman-16 budget done-trigger"> Project budget (USD) </p>
                                            <div class="input-wrapper-bottom done-trigger">
                                                <div class="radio-block"><input type="radio" id="radio1"
                                                        value="50K–100K" name="radio"><label
                                                        for="radio1">50K–100K</label><input type="radio" id="radio2"
                                                        value="100K–300K" name="radio"><label
                                                        for="radio2">100K–300K</label><input type="radio" id="radio3"
                                                        value="300K+" name="radio"><label
                                                        for="radio3">300K+</label><!----></div><button
                                                    class="its-mac submit" type="submit"><span>Send</span><img
                                                        alt="arrow" class="arrow" src="/icons/smallArrow.svg"><i
                                                        class="hover-mask"><span class="its-mac"> Send </span><img
                                                            alt="arrow" class="arrow"
                                                            src="/icons/smallArrowBlack.svg"></i></button>
                                            </div>
                                            <div class="form-send-suc">
                                                <p class="font-machina-30"> Thank you </p><img loading="lazy" alt="done"
                                                    src="/icons/formheart.svg">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            