<div class="home-footer">
                                <div class="wrapper">
                                    <div class="col-1">
                                        <div>
                                            <p class="font-neue-roman-14-500 small-title"> Menu. </p><a href="/work"
                                                class="font-neue-roman-16 link"> Work </a><br><a href="/our-story"
                                                class="font-neue-roman-16 link"> Our story </a><br><a href="/insights"
                                                class="font-neue-roman-16 link"> Insights </a><br><a href="/connect"
                                                class="font-neue-roman-16 link"> Connect </a><br><a
                                                href="/privacy-policy" class="font-neue-roman-16 link"> Privacy policy
                                            </a><br>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div></div>
                                    </div>
                                    <div class="col-3">
                                        <div>
                                            <p class="font-neue-roman-14-500 small-title"> Social. </p><a
                                                target="_blank" href="https://www.linkedin.com/company/noomoagency"
                                                class="social-link font-neue-roman-16 link"> LinkedIn </a><br><a
                                                target="_blank" href="https://www.instagram.com/noomoagency/"
                                                class="social-link font-neue-roman-16 link"> Instagram </a><br><a
                                                target="_blank" href="https://dribbble.com/noomoagency"
                                                class="social-link font-neue-roman-16 link"> Dribbble </a><br><a
                                                target="_blank" href="https://x.com/noomoagency"
                                                class="social-link font-neue-roman-16 link"> X </a>
                                        </div>
                                        <div>
                                            <p class="font-neue-roman-14-500 small-title email"> Email. </p><a
                                                class="font-neue-roman-16 link email-address"
                                                href="mailto:hello@noomoagency.com">hello@noomoagency.com</a>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <p class="font-neue-roman-16"> Let’s grab some coffee. </p>
                                        <p class="font-neue-roman-16 desc"> We are based in Los Angeles but often come
                                            to San Francisco ☕ </p>
                                    </div>
                                </div>
                                <div class="mobile-copy">
                                    <div class="left"><a aria-current="page" href="/"
                                            class="router-link-active router-link-exact-active"><img alt="netrix logo"
                                                class="logo-icon desctop-logo" src="/icons/footerlogo.png"><img
                                                alt="netrix logo" class="logo-icon mobile-logo"
                                                src="/logos/mobileLogo.svg"></a></div><a
                                        class="font-neue-roman-16 link mobile-email"
                                        href="mailto:hello@noomoagency.com">hello@noomoagency.com</a>
                                    <div class="animation-icons"><img alt="icons" src="/icons/oiG.svg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    