<div class="home-info-block">
                                <div class="wrapper">
                                    <div class="top">
                                        <div class="left">
                                            <h1 class="font-machina-60 title-1">At Noomo, we create 3D storytelling
                                                websites and immersive digital experiences where craft and narrative
                                                become one.</h1>
                                            <h2 class="font-machina-60">From immersive 3D websites to cinematic brand
                                                videos, we let the story dictate the medium—whether that's real-time
                                                rendering, editorial design, or interactive experiences.</h2>
                                        </div>
                                        <div class="right">
                                            <p class="font-neue-roman-16">We partner with brands like Salesforce, AMD,
                                                Red Bull and Vogue Business who believe craft makes the difference.

                                                Companies that value innovation, obsess over details, and understand
                                                great digital work requires time, trust, and true collaboration.</p>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <div class="left">
                                            <div class="bottom-item">
                                                <p class="tag">Services</p>
                                                <p class="font-neue-roman-16 line">3D websites<br>
                                                    Storytelling websites<br>
                                                    3D storytelling videos<br>
                                                    Immersive web experiences <br>
                                                    WebGL development<br>
                                                    Brand activation microsites<br>
                                                    Digital event experiences<br>
                                                    Interactive website design<br>
                                                    AI-driven experiences<br>
                                                    Digital branding<br></p>
                                            </div>
                                            <div class="bottom-item show-m">
                                                <p class="tag">♥‿♥</p>
                                                <p class="font-neue-roman-16 line">Vogue Business<br>
                                                    Samsung<br>
                                                    Cadence Design Systems<br>
                                                    Space Needle<br>
                                                    OneLine Health<br>
                                                    Middle Finance<br>
                                                    The Art of Living<br>
                                                    Life House<br>
                                                    Battalion<br></p>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="bottom-item">
                                                <p class="tag">Clients</p>
                                                <p class="font-neue-roman-16 line">Salesforce<br>
                                                    AMD<br>
                                                    Coinbase<br>
                                                    Red Bull<br>
                                                    Intel | ai.io<br>
                                                    Yolo Federal Credit Union<br>
                                                    Percipio Health<br>
                                                    Dandy Vision<br>
                                                    Vibrant Wellness<br></p>
                                            </div>
                                            <div class="bottom-item item-margin hide-m">
                                                <p class="tag">♥‿♥</p>
                                                <p class="font-neue-roman-16 line">Vogue Business<br>
                                                    Samsung<br>
                                                    Cadence Design Systems<br>
                                                    Space Needle<br>
                                                    OneLine Health<br>
                                                    Middle Finance<br>
                                                    The Art of Living<br>
                                                    Life House<br>
                                                    Battalion<br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="home-real"><video autoplay="" loop="" playsinline="" id="video"
                                    crossorigin="anonymous">
                                    <source src="/api/showreel-video" type="video/mp4">
                                </video></div>
                            <div class="scene-awards">
                                <div class="wrapper">
                                    <div class="left">
                                        <p class="font-machina-120 title"><span>Innovate –</span> with a human touch.
                                        </p>
                                    </div>
                                    <div class="right">
                                        <p class="font-neue-roman-18 desc"> Our design expertise and craftsmanship means
                                            we convert big, innovative ideas into powerful, accessible human
                                            experiences, which ignite emotions and provoke action. </p>
                                    </div>
                                    <div class="mobile-awards-list">
                                        <div class="item">
                                            <p class="font-machina-54">Webby</p>
                                        </div>
                                        <div class="item">
                                            <p class="font-machina-54">reddot</p>
                                        </div>
                                        <div class="item">
                                            <p class="font-machina-54">SF Design WEEk</p>
                                        </div>
                                        <div class="item">
                                            <p class="font-machina-54">awwwards</p>
                                        </div>
                                        <div class="item">
                                            <p class="font-machina-54">+50 awards</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-rev">
                                <div class="wrapper">
                                    <h2 class="font-machina-60"> Great work can’t happen without team a. </h2>
                                    <p class="desc font-neue-roman-16"> When working with us, you get the value of
                                        working with founders. Building strong relationships with our clients is at the
                                        heart of our approach. </p>
                                    <p class="font-neue-roman-16"> We take the time to understand your unique needs and
                                        create tailored design solutions to help you make an impact. </p>
                                </div>
                                <div
                                    class="swiper swiper-initialized swiper-horizontal swiper-free-mode swiper-backface-hidden">
                                    <!--[--><!--]-->
                                    <div class="swiper-wrapper"
                                        style="transition-duration: 0ms; transition-delay: 0ms; transform: translate3d(0px, 0px, 0px);">
                                        <!--[--><!--]--><!--[-->
                                        <div class="swiper-slide swiper-slide-active slide" style="margin-right: 15px;">
                                            <!--[-->
                                            <div>
                                                <div class="company"><img alt="logo" src="/mobileRev/mrev1.png"></div>
                                                <p class="desc font-neue-roman-16"> “Noomo does such incredible and
                                                    thoughtful work. I have been at this almost 25 years and have never
                                                    been more impressed with an agency.” </p>
                                            </div>
                                            <div>
                                                <p class="name font-12-dark">Wallis Mills</p>
                                                <p class="position font-14-dark">Director of Marketing,<br>Network
                                                    Technology Solutions Group</p>
                                            </div><!--]--><!---->
                                        </div>
                                        <div class="swiper-slide swiper-slide-next slide" style="margin-right: 15px;">
                                            <!--[-->
                                            <div>
                                                <div class="company"><img alt="logo" class="webf"
                                                        src="/mobileRev/mrev2.png"></div>
                                                <p class="desc font-neue-roman-16"> "I've been very impressed with how
                                                    the Noomo team has worked quickly to immerse themselves in the
                                                    narrative of our often complicated suite of products and solutions.
                                                    Their willingness to collaborate in partnership with our Salesforce
                                                    creative team has allowed us to explore innovative web experiences
                                                    while remaining true to the Salesforce brand." </p>
                                            </div>
                                            <div>
                                                <p class="name font-12-dark">JONNY FRUITS</p>
                                                <p class="position font-14-dark">Sr. Creative Director</p>
                                            </div><!--]--><!---->
                                        </div>
                                        <div class="swiper-slide slide" style="margin-right: 15px;"><!--[-->
                                            <div>
                                                <div class="company"><img alt="logo" class="cadence"
                                                        src="/mobileRev/mrev3.png"></div>
                                                <p class="desc font-neue-roman-16"> “The entire Noomo team have been an
                                                    exceptional and trusted creative partner in shaping our global
                                                    digital products. Their dedication to listening, iterating, and
                                                    pushing for the best possible experience makes them invaluable
                                                    collaborators. I have full confidence in their technical and
                                                    creative expertise to deliver time and time again.” </p>
                                            </div>
                                            <div>
                                                <p class="name font-12-dark">David Grau</p>
                                                <p class="position font-14-dark">Director Global Product Design &amp;
                                                    Research</p>
                                            </div><!--]--><!---->
                                        </div>
                                        <div class="swiper-slide slide" style="margin-right: 15px;"><!--[-->
                                            <div>
                                                <div class="company"><img alt="logo" class="life"
                                                        src="/mobileRev/mrev4.png"></div>
                                                <p class="desc font-neue-roman-16"> “Noomo demonstrates an abundance of
                                                    creativity and ambition when it comes to complex Web3 projects. I’m
                                                    grateful for their willingness to adapt to any challenge and remain
                                                    committed partners through the entire development process.” </p>
                                            </div>
                                            <div>
                                                <p class="name font-12-dark">Eric Davies</p>
                                                <p class="position font-14-dark">Senior Producer</p>
                                            </div><!--]--><!---->
                                        </div><!--]--><!--[--><!--]-->
                                    </div><!----><!----><!----><!--[--><!--]-->
                                </div>
                            </div>
                            <div class="home-awards-list">
                                <div class="wrapper">
                                    <h3 class="font-machina-60">Recognition for innovative work that pushes what's
                                        possible in digital design.</h3>
                                    <div class="items-list"><!--[-->
                                        <div class="item-id-fwa item home-a-item">
                                            <div class="top-line"></div>
                                            <div class="bottom-line"></div>
                                            <p class="font-neue-roman-24 name">FWA</p>
                                            <p class="count font-neue-roman-14-500">/ 12</p><img class="arrow"
                                                alt="arrow" src="/icons/linkArrow.svg">
                                            <div class="aw-list-fwa aw-list">
                                                <div class="list-item top-titles">
                                                    <p class="s-name">Project</p>
                                                    <p class="s-nomination">Nomination</p>
                                                    <p class="s-year">Year</p>
                                                </div><!--[-->
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Vibrant Wellness<span
                                                            class="only-mobile"> - FWA of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">FWA of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2026</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Vogue Business | Archrival: Gen
                                                        Z Broke The Marketing Funnel<span class="only-mobile"> - FWA of
                                                            the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">FWA of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2025</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Valentime<span
                                                            class="only-mobile"> - FWA of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">FWA of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2025</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Beat<span
                                                            class="only-mobile"> - FWA of the day - AI</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">FWA of the day - AI</p>
                                                    <p class="font-neue-roman-24 s-year">2025</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Beat<span
                                                            class="only-mobile"> - FWA of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">FWA of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2025</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Intel | ai.io interactive AI
                                                        experience for AWS re:Invent<span class="only-mobile"> - FWA of
                                                            the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">FWA of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Playground<span
                                                            class="only-mobile"> - FWA of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">FWA of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Labs<span
                                                            class="only-mobile"> - FWA of the day - Mobile</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">FWA of the day - Mobile
                                                    </p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Labs<span
                                                            class="only-mobile"> - FWA of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">FWA of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">The Silly Bunny<span
                                                            class="only-mobile"> - FWA of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">FWA of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Agency<span
                                                            class="only-mobile"> - FWA of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">FWA of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2023</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name"><span class="only-mobile"> -
                                                        </span></p>
                                                    <p class="font-neue-roman-24 s-nomination"></p>
                                                    <p class="font-neue-roman-24 s-year"></p>
                                                </div><!--]-->
                                            </div>
                                        </div>
                                        <div class="item-id-the-webby-awards item home-a-item">
                                            <div class="top-line"></div>
                                            <div class="bottom-line"></div>
                                            <p class="font-neue-roman-24 name">The Webby Awards</p>
                                            <p class="count font-neue-roman-14-500">/ 08</p><img class="arrow"
                                                alt="arrow" src="/icons/linkArrow.svg">
                                            <div class="aw-list-the-webby-awards aw-list">
                                                <div class="list-item top-titles">
                                                    <p class="s-name">Project</p>
                                                    <p class="s-nomination">Nomination</p>
                                                    <p class="s-year">Year</p>
                                                </div><!--[-->
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Labs<span
                                                            class="only-mobile"> - Winner, Websites and Mobile Sites -
                                                            Best Use of Animation or Motion Graphics</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Winner, Websites and
                                                        Mobile Sites - Best Use of Animation or Motion Graphics</p>
                                                    <p class="font-neue-roman-24 s-year">2025</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Labs<span
                                                            class="only-mobile"> - Winner, Websites and Mobile Sites -
                                                            Technical Achievement</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Winner, Websites and
                                                        Mobile Sites - Technical Achievement</p>
                                                    <p class="font-neue-roman-24 s-year">2025</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Beat<span
                                                            class="only-mobile"> - Winner, Websites and Mobile Sites -
                                                            Best Use of AI</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Winner, Websites and
                                                        Mobile Sites - Best Use of AI</p>
                                                    <p class="font-neue-roman-24 s-year">2025</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Percipio Health<span
                                                            class="only-mobile"> - Winner, Websites and Mobile Sites -
                                                            Web Services &amp; Applications</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Winner, Websites and
                                                        Mobile Sites - Web Services &amp; Applications</p>
                                                    <p class="font-neue-roman-24 s-year">2025</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Beat<span
                                                            class="only-mobile"> - Nomination, AI, Immersive &amp; Games
                                                            - Media &amp; Entertainment</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Nomination, AI, Immersive
                                                        &amp; Games - Media &amp; Entertainment</p>
                                                    <p class="font-neue-roman-24 s-year">2025</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Jasmina Denner<span
                                                            class="only-mobile"> - Honors, Websites and Mobile Sites -
                                                            Personal Blog/Website</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Honors, Websites and
                                                        Mobile Sites - Personal Blog/Website</p>
                                                    <p class="font-neue-roman-24 s-year">2025</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Middle<span
                                                            class="only-mobile"> - Winner, Financial
                                                            Services/Banking</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Winner, Financial
                                                        Services/Banking</p>
                                                    <p class="font-neue-roman-24 s-year">2023</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">ITG Digital<span
                                                            class="only-mobile"> - Nomination, Web Services &amp;
                                                            Applications</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Nomination, Web Services
                                                        &amp; Applications</p>
                                                    <p class="font-neue-roman-24 s-year">2020</p>
                                                </div><!--]-->
                                            </div>
                                        </div>
                                        <div class="item-id-red-dot-design-award item home-a-item">
                                            <div class="top-line"></div>
                                            <div class="bottom-line"></div>
                                            <p class="font-neue-roman-24 name">Red Dot Design Award</p>
                                            <p class="count font-neue-roman-14-500">/ 01</p><img class="arrow"
                                                alt="arrow" src="/icons/linkArrow.svg">
                                            <div class="aw-list-red-dot-design-award aw-list">
                                                <div class="list-item top-titles">
                                                    <p class="s-name">Project</p>
                                                    <p class="s-nomination">Nomination</p>
                                                    <p class="s-year">Year</p>
                                                </div><!--[-->
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">ITG Digital<span
                                                            class="only-mobile"> - Winner, Online platforms</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Winner, Online platforms
                                                    </p>
                                                    <p class="font-neue-roman-24 s-year">2020</p>
                                                </div><!--]-->
                                            </div>
                                        </div>
                                        <div class="item-id-san-francisco-design-week item home-a-item">
                                            <div class="top-line"></div>
                                            <div class="bottom-line"></div>
                                            <p class="font-neue-roman-24 name">San Francisco Design Week</p>
                                            <p class="count font-neue-roman-14-500">/ 01</p><img class="arrow"
                                                alt="arrow" src="/icons/linkArrow.svg">
                                            <div class="aw-list-san-francisco-design-week aw-list">
                                                <div class="list-item top-titles">
                                                    <p class="s-name">Project</p>
                                                    <p class="s-nomination">Nomination</p>
                                                    <p class="s-year">Year</p>
                                                </div><!--[-->
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Crisis Clean Up<span
                                                            class="only-mobile"> - Honorable Mentions, Civic and
                                                            Government</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Honorable Mentions, Civic
                                                        and Government</p>
                                                    <p class="font-neue-roman-24 s-year">2020</p>
                                                </div><!--]-->
                                            </div>
                                        </div>
                                        <div class="item-id-awwwards item home-a-item">
                                            <div class="top-line"></div>
                                            <div class="bottom-line"></div>
                                            <p class="font-neue-roman-24 name">Awwwards</p>
                                            <p class="count font-neue-roman-14-500">/ 23</p><img class="arrow"
                                                alt="arrow" src="/icons/linkArrow.svg">
                                            <div class="aw-list-awwwards aw-list">
                                                <div class="list-item top-titles">
                                                    <p class="s-name">Project</p>
                                                    <p class="s-nomination">Nomination</p>
                                                    <p class="s-year">Year</p>
                                                </div><!--[-->
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Beat<span
                                                            class="only-mobile"> - Site of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Site of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Beat<span
                                                            class="only-mobile"> - Developer award</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Developer award</p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Jasmina Denner<span
                                                            class="only-mobile"> - Honorable mentions</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Honorable mentions</p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo XR<span
                                                            class="only-mobile"> - Honorable mentions</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Honorable mentions</p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo XR<span
                                                            class="only-mobile"> - No-code honors</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">No-code honors</p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Labs<span
                                                            class="only-mobile"> - Portfolio honors</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Portfolio honors</p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Labs<span
                                                            class="only-mobile"> - Developer award</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Developer award</p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Labs<span
                                                            class="only-mobile"> - Site of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Site of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Agency<span
                                                            class="only-mobile"> - Website of the year</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Website of the year</p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Cathey &amp; Miles Attorneys
                                                        Website<span class="only-mobile"> - Honorable mentions</span>
                                                    </p>
                                                    <p class="font-neue-roman-24 s-nomination">Honorable mentions</p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Agency<span
                                                            class="only-mobile"> - Developer award</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Developer award</p>
                                                    <p class="font-neue-roman-24 s-year">2023</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Agency<span
                                                            class="only-mobile"> - Website of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Website of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2023</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">The Silly Bunny<span
                                                            class="only-mobile"> - Honorable mentions</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Honorable mentions</p>
                                                    <p class="font-neue-roman-24 s-year">2023</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Middle Finance<span
                                                            class="only-mobile"> - Honorable mentions</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Honorable mentions</p>
                                                    <p class="font-neue-roman-24 s-year">2023</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Olha Uzhykova portfolio<span
                                                            class="only-mobile"> - Site of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Site of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2022</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Netrix<span
                                                            class="only-mobile"> - nominated for “Mobile website of the
                                                            year”</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">nominated for “Mobile
                                                        website of the year”</p>
                                                    <p class="font-neue-roman-24 s-year">2021</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Netrix<span
                                                            class="only-mobile"> - Site of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Site of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2021</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Netrix<span
                                                            class="only-mobile"> - Mobile website of the week</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Mobile website of the
                                                        week</p>
                                                    <p class="font-neue-roman-24 s-year">2021</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Netrix<span
                                                            class="only-mobile"> - Developer award</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Developer award</p>
                                                    <p class="font-neue-roman-24 s-year">2021</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">MadDad<span
                                                            class="only-mobile"> - Honorable mentions</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Honorable mentions</p>
                                                    <p class="font-neue-roman-24 s-year">2020</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">MadDad<span
                                                            class="only-mobile"> - Mobile design excellence</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Mobile design excellence
                                                    </p>
                                                    <p class="font-neue-roman-24 s-year">2019</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Netrix<span
                                                            class="only-mobile"> - Honorable mentions</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Honorable mentions</p>
                                                    <p class="font-neue-roman-24 s-year">2018</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Netrix<span
                                                            class="only-mobile"> - Mobile design excellence</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Mobile design excellence
                                                    </p>
                                                    <p class="font-neue-roman-24 s-year">2018</p>
                                                </div><!--]-->
                                            </div>
                                        </div>
                                        <div class="item-id-css-design-award item home-a-item">
                                            <div class="top-line"></div>
                                            <div class="bottom-line"></div>
                                            <p class="font-neue-roman-24 name">CSS Design Award</p>
                                            <p class="count font-neue-roman-14-500">/ 07</p><img class="arrow"
                                                alt="arrow" src="/icons/linkArrow.svg">
                                            <div class="aw-list-css-design-award aw-list">
                                                <div class="list-item top-titles">
                                                    <p class="s-name">Project</p>
                                                    <p class="s-nomination">Nomination</p>
                                                    <p class="s-year">Year</p>
                                                </div><!--[-->
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Beat<span
                                                            class="only-mobile"> - Website of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Website of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Jasmina Denner<span
                                                            class="only-mobile"> - Website of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Website of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">The Future Of XR<span
                                                            class="only-mobile"> - Website of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Website of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Labs<span
                                                            class="only-mobile"> - Website of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Website of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2024</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">The Silly Bunny<span
                                                            class="only-mobile"> - Website of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Website of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2023</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Olha Uzhykova Portfolio<span
                                                            class="only-mobile"> - Website of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Website of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2023</p>
                                                </div>
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">Noomo Agency<span
                                                            class="only-mobile"> - Website of the day</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Website of the day</p>
                                                    <p class="font-neue-roman-24 s-year">2023</p>
                                                </div><!--]-->
                                            </div>
                                        </div>
                                        <div class="item-id-adc-europe item home-a-item">
                                            <div class="top-line"></div>
                                            <div class="bottom-line"></div>
                                            <p class="font-neue-roman-24 name">ADC Europe</p>
                                            <p class="count font-neue-roman-14-500">/ 01</p><img class="arrow"
                                                alt="arrow" src="/icons/linkArrow.svg">
                                            <div class="aw-list-adc-europe aw-list">
                                                <div class="list-item top-titles">
                                                    <p class="s-name">Project</p>
                                                    <p class="s-nomination">Nomination</p>
                                                    <p class="s-year">Year</p>
                                                </div><!--[-->
                                                <div class="list-item">
                                                    <p class="font-neue-roman-24 s-name">ITG Digital<span
                                                            class="only-mobile"> - Nomination in category Interactive
                                                            &amp; Mobile</span></p>
                                                    <p class="font-neue-roman-24 s-nomination">Nomination in category
                                                        Interactive &amp; Mobile</p>
                                                    <p class="font-neue-roman-24 s-year">2020</p>
                                                </div><!--]-->
                                            </div>
                                        </div><!--]-->
                                        <div class="slide-wrapper"><img alt="image" loading="lazy"
                                                src="/awardsslides/1s.png" style="opacity: 0;"><img alt="image"
                                                loading="lazy" src="/awardsslides/2s.png" style="opacity: 0;"><img
                                                alt="image" loading="lazy" src="/awardsslides/3s.png"
                                                style="opacity: 0;"><img alt="image" loading="lazy"
                                                src="/awardsslides/4s.png" style="opacity: 0;"><img alt="image"
                                                loading="lazy" src="/awardsslides/5s.png" style="opacity: 0;"><img
                                                alt="image" loading="lazy" src="/awardsslides/6s.png"
                                                style="opacity: 0;"><img alt="image" loading="lazy"
                                                src="/awardsslides/7s.png" style="opacity: 0;"><img alt="image"
                                                loading="lazy" src="/awardsslides/8s.png" style="opacity: 0;"><img
                                                alt="image" loading="lazy" src="/awardsslides/9s.png"
                                                style="opacity: 0;"><img alt="image" loading="lazy"
                                                src="/awardsslides/10s.png" style="opacity: 0;"><img alt="image"
                                                loading="lazy" src="/awardsslides/11s.png" style="opacity: 0;"><img
                                                alt="image" loading="lazy" src="/awardsslides/12s.png"
                                                style="opacity: 0;"><img alt="image" loading="lazy"
                                                src="/awardsslides/13s.png" style="opacity: 0;"><img alt="image"
                                                loading="lazy" src="/awardsslides/14s.png" style="opacity: 0;"><img
                                                alt="image" loading="lazy" src="/awardsslides/15s.png"
                                                style="opacity: 0;"><img alt="image" loading="lazy"
                                                src="/awardsslides/16s.png" style="opacity: 0;"><img alt="image"
                                                loading="lazy" src="/awardsslides/17s.png" style="opacity: 0;"><img
                                                alt="image" loading="lazy" src="/awardsslides/18s.png"
                                                style="opacity: 0;"><img alt="image" loading="lazy"
                                                src="/awardsslides/19s.png" style="opacity: 0;"></div>
                                    </div>
                                    <div class="more">
                                        <p class="">+ 50 more awards</p>
                                    </div>
                                </div>
                            </div>
                            