<div class="home-news">
                                <div class="wrapper">
                                    <div class="top">
                                        <h4 class="font-machina-120">Our Insights</h4><a href="/insights"
                                            class="font-14-dark"><span>View All</span><img alt="news"
                                                src="/icons/allNews.svg"></a>
                                        <div class="anim-line anim-line-bottom"></div>
                                    </div>
                                    <div class="parent">
                                        <div><a href="/insights/vogue-business-gen-z-interactive-editorial-design"
                                                class="item">
                                                <div class="anim-line anim-line-bottom"></div>
                                                <div class="cover"><img
                                                        src="https://images.prismic.io/noomo-website/aWGhGQIvOtkhBPho_voguearchrivalarticlenobgnew-1--1-.png?auto=format,compress"
                                                        alt="Interactive editorial design for Vogue Business Gen Z Report showing headline 'Gen Z broke the marketing funnel part II what now?' with pixelated gradient background, diverse Gen Z portraits, and nature vs digital aesthetic by Noomo Agency"
                                                        loading="lazy" data-nuxt-img="" class="cover-image"><img
                                                        src="https://images.prismic.io/noomo-website/aWGhGQIvOtkhBPho_voguearchrivalarticlenobgnew-1--1-.png?auto=format,compress&amp;blur=180&amp;q=90"
                                                        alt="Interactive editorial design for Vogue Business Gen Z Report showing headline 'Gen Z broke the marketing funnel part II what now?' with pixelated gradient background, diverse Gen Z portraits, and nature vs digital aesthetic by Noomo Agency"
                                                        loading="lazy" data-nuxt-img="" class="cover-blur"><img
                                                        alt="icon" class="tag-icon"
                                                        src="https://images.prismic.io/noomo-website/ZiLK4fPdc1huKphD_articleicon3.png?auto=format,compress">
                                                    <div class="hover-tags">
                                                        <span>Editorial</span><br><span>Interactive</span><br><span>Web</span><br>
                                                    </div>
                                                    <div class="back"><img alt="icon"
                                                            src="/icons/icon_eye.svg"><span>READ</span></div>
                                                </div>
                                                <div class="info">
                                                    <h3 class="font-neue-roman-28">Designing Vogue Business' Gen Z
                                                        Report: Interactive Editorial Website</h3>
                                                    <div class="bottom">
                                                        <p class="tag font-neue-roman-16">Editorial</p>
                                                        <p class="date font-neue-roman-16">Jan 8, 2026</p>
                                                    </div>
                                                </div>
                                                <div class="hover-icon"><img alt="icon" src="/icons/allNews.svg"></div>
                                            </a></div>
                                        <div><a href="/insights/the-power-of-digital-storytelling" class="item">
                                                <div class="anim-line anim-line-bottom"></div>
                                                <div class="cover"><img
                                                        src="https://images.prismic.io/noomo-website/aIf61FGsbswqTXwE_storytellingarticlecover-2.png?auto=format,compress"
                                                        alt="Digital storytelling in web design combining 3D environments, interactive animations, and immersive experiences to create memorable brand narratives"
                                                        loading="lazy" data-nuxt-img="" class="cover-image"><img
                                                        src="https://images.prismic.io/noomo-website/aIf61FGsbswqTXwE_storytellingarticlecover-2.png?auto=format,compress&amp;blur=180&amp;q=90"
                                                        alt="Digital storytelling in web design combining 3D environments, interactive animations, and immersive experiences to create memorable brand narratives"
                                                        loading="lazy" data-nuxt-img="" class="cover-blur"><img
                                                        alt="icon" class="tag-icon"
                                                        src="https://images.prismic.io/noomo-website/69c7c05c-2f67-4351-89ee-1b0b9d7c41b8_article+earth+icon+%281%29.png?auto=compress,format">
                                                    <div class="hover-tags">
                                                        <span>Storytelling</span><br><span>Website</span><br><span>3D</span><br>
                                                    </div>
                                                    <div class="back"><img alt="icon"
                                                            src="/icons/icon_eye.svg"><span>READ</span></div>
                                                </div>
                                                <div class="info">
                                                    <h3 class="font-neue-roman-28">The Power of Digital Storytelling or
                                                        How to Tell the Story Without Words</h3>
                                                    <div class="bottom">
                                                        <p class="tag font-neue-roman-16">Storytelling</p>
                                                        <p class="date font-neue-roman-16">Jul 28, 2025</p>
                                                    </div>
                                                </div>
                                                <div class="hover-icon"><img alt="icon" src="/icons/allNews.svg"></div>
                                            </a></div>
                                        <div><a href="/insights/noomo-valentime-immersive-storytelling" class="item">
                                                <div class="anim-line anim-line-bottom"></div>
                                                <div class="cover"><img
                                                        src="https://images.prismic.io/noomo-website/aBPduPIqRLdaBzOW_Frame2147207049-4.png?auto=format,compress"
                                                        alt="Noomo ValenTime immersive 3D storytelling experience featuring magical portal, floating heart, gold accents, and interactive 3D customizer"
                                                        loading="lazy" data-nuxt-img="" class="cover-image"><img
                                                        src="https://images.prismic.io/noomo-website/aBPduPIqRLdaBzOW_Frame2147207049-4.png?auto=format,compress&amp;blur=180&amp;q=90"
                                                        alt="Noomo ValenTime immersive 3D storytelling experience featuring magical portal, floating heart, gold accents, and interactive 3D customizer"
                                                        loading="lazy" data-nuxt-img="" class="cover-blur"><img
                                                        alt="icon" class="tag-icon"
                                                        src="https://images.prismic.io/noomo-website/ZiLK4vPdc1huKphE_articleicon4.png?auto=format,compress">
                                                    <div class="hover-tags">
                                                        <span>3D</span><br><span>Immersive</span><br><span>Website</span><br>
                                                    </div>
                                                    <div class="back"><img alt="icon"
                                                            src="/icons/icon_eye.svg"><span>READ</span></div>
                                                </div>
                                                <div class="info">
                                                    <h3 class="font-neue-roman-28">Noomo ValenTime, an Immersive
                                                        Storytelling About Love</h3>
                                                    <div class="bottom">
                                                        <p class="tag font-neue-roman-16">3D</p>
                                                        <p class="date font-neue-roman-16">May 1, 2025</p>
                                                    </div>
                                                </div>
                                                <div class="hover-icon"><img alt="icon" src="/icons/allNews.svg"></div>
                                            </a></div>
                                        <div><a href="/insights/ai-brand-activation-3d-music-case-study" class="item">
                                                <div class="anim-line anim-line-bottom"></div>
                                                <div class="cover"><img
                                                        src="https://images.prismic.io/noomo-website/Zyvnga8jQArT0Wlv_NoomoBeatarticle.png?auto=format,compress"
                                                        alt="Interactive 3D visualization that responds in real-time to AI-generated music"
                                                        loading="lazy" data-nuxt-img="" class="cover-image"><img
                                                        src="https://images.prismic.io/noomo-website/Zyvnga8jQArT0Wlv_NoomoBeatarticle.png?auto=format,compress&amp;blur=180&amp;q=90"
                                                        alt="Interactive 3D visualization that responds in real-time to AI-generated music"
                                                        loading="lazy" data-nuxt-img="" class="cover-blur"><img
                                                        alt="icon" class="tag-icon"
                                                        src="https://images.prismic.io/noomo-website/d5a09caa-fd41-45ae-9bed-5e66a06c7306_flash+icon+article+%282%29.png?auto=format,compress">
                                                    <div class="hover-tags">
                                                        <span>AI</span><br><span>Immersive</span><br><span>3D</span><br>
                                                    </div>
                                                    <div class="back"><img alt="icon"
                                                            src="/icons/icon_eye.svg"><span>READ</span></div>
                                                </div>
                                                <div class="info">
                                                    <h3 class="font-neue-roman-28">AI-powered Brand Activation: Building
                                                        Interactive 3D Music Experiences</h3>
                                                    <div class="bottom">
                                                        <p class="tag font-neue-roman-16">AI</p>
                                                        <p class="date font-neue-roman-16">Nov 06, 2024</p>
                                                    </div>
                                                </div>
                                                <div class="hover-icon"><img alt="icon" src="/icons/allNews.svg"></div>
                                            </a></div>
                                        <div><a href="/insights/3d-websites-and-immersive-web-experiences-for-marketing"
                                                class="item">
                                                <div class="anim-line anim-line-bottom"></div>
                                                <div class="cover"><img
                                                        src="https://images.prismic.io/noomo-website/Zj1CuUMTzAJOCq7c_immercivewebsitecover.png?auto=format,compress"
                                                        alt="Abstract geometric background for immersive web experiences marketing"
                                                        loading="lazy" data-nuxt-img="" class="cover-image"><img
                                                        src="https://images.prismic.io/noomo-website/Zj1CuUMTzAJOCq7c_immercivewebsitecover.png?auto=format,compress&amp;blur=180&amp;q=90"
                                                        alt="Abstract geometric background for immersive web experiences marketing"
                                                        loading="lazy" data-nuxt-img="" class="cover-blur"><img
                                                        alt="icon" class="tag-icon"
                                                        src="https://images.prismic.io/noomo-website/ZiLK4PPdc1huKphC_articleicon2.png?auto=format,compress">
                                                    <div class="hover-tags">
                                                        <span>Immersive</span><br><span>3D</span><br><span>AR</span><br>
                                                    </div>
                                                    <div class="back"><img alt="icon"
                                                            src="/icons/icon_eye.svg"><span>READ</span></div>
                                                </div>
                                                <div class="info">
                                                    <h3 class="font-neue-roman-28">Elevate Marketing and Sales by Using
                                                        Immersive Web Experiences</h3>
                                                    <div class="bottom">
                                                        <p class="tag font-neue-roman-16">Immersive Experiences</p>
                                                        <p class="date font-neue-roman-16">May 10, 2024</p>
                                                    </div>
                                                </div>
                                                <div class="hover-icon"><img alt="icon" src="/icons/allNews.svg"></div>
                                            </a></div>
                                    </div>
                                </div>
                            </div>
                            